.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 80px;
  gap: 32px;
  font-family: 'Consolas', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 600px;
}

.main h1 {
  font-family: var(--font-geist-sans);
}

.searchBar {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #cbc4bb;
  color: rgb(43, 37, 37);
  border: none;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.searchButton {
  padding: 10px 20px;
  border-radius: 30px;
  width: 100%;
  max-width: 300px;
  background-color: #cbc4bb;
  color: rgb(43, 37, 37);
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: -15px;
}

.searchButton:hover {
  background-color: #dfddda;
}

.fileItem {
  margin: 4px 0;
  width: 100%;
  max-width: 600px;
  text-align: left;
}

.clickableFilename {
  cursor: pointer;
  color: #ebf1e8;
  text-decoration: none;
}

.clickableFilename:hover {
  text-decoration: underline;
  color: #c9d1d9;
}

.previewSection {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.previewSection pre {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.downloadButton {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #cbc4bb;
  color: rgb(43, 37, 37);
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.downloadButton:hover {
  background-color: #dfddda;
  color: #000;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}